<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Login System</title>

    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/styles1.css" />
  </head>
  <body>
    <h1 id="base-heading">Employee Smart Timeclock System</h1>
    <div id="login-options">
      <button><a href="/templates/home/">User Login</a></button>
      <button><a href="/templates/admin-login/">Admin Login</a></button>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
  </body>
</html>
